<!-- Author: Garry Ivanovs
Created: 06-03-2025
Modified 06-03-2025 -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% if title %}
        <title>{{ title }} | Overtime Scheduler</title>
        {% else %}
        <title>Overtime Scheduler</title>
        {% endif %}
        <link
            rel="icon"
            href="{{ url_for('static', filename='images/favicon.svg') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <header>
            <h1>Overtime Scheduler</h1>
        </header>
        <main>{% block main %}{% endblock %}</main>
        <footer>
            <p><i>Overtime Scheduler PROTOTYPE</i></p>
            <p>&copy; 2025 garrynet.co.uk</p>
        </footer>
    </body>
</html>
