<!-- Author: Garry Ivanovs
Created: 06-03-2025
Modified 07-03-2025 -->

{% extends "base.html" %} {% block main %}
<p>Editing Worker: {{ workerName }}</p>
<form action="/editWorker?workerName={{ workerName }}" method="post">
    <label for="newWorkerName">New Worker Name:</label>
    <input
        type="text"
        id="newWorkerName"
        name="newWorkerName"
        placeholder="{{ workerName }}"
        required
        autofocus
        value="{{ workerName }}"
    />
    <br />
    <label for="newLastRotated">Last Worked:</label>
    <input
        type="date"
        id="newLastRotated"
        name="newLastRotated"
        required
        value="{{ lastRotated }}"
    />
    <br /><br />
    <button type="submit">Save</button>
    <button
        type="button"
        onclick="window.location.href='/deleteWorker?workerName={{ workerName }}';"
    >
        Delete
    </button>
    <button type="button" onclick="window.location.href='/';">Cancel</button>
</form>
{% endblock %}
