<!-- Author: Garry Ivanovs
Created: 06-03-2025
Modified 07-03-2025 -->

{% extends "base.html" %} {% block main %} {% if workers %}
<h2>Workers</h2>
<table>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Last Rotated</th>
    </tr>
    {% for worker in workers %}
    <tr>
        <td>{{ workers.index(worker)+1 }}</td>
        <td>
            <a href="/editWorker?workerName={{ worker['name'] }}"
                >{{ worker["name"] }}</a
            >
        </td>
        <td>{{ worker["lastRotated"] }}</td>
    </tr>
    {% endfor %}
</table>
<p>Last Rotation: {{ lastRotated }}</p>
<form action="/rotate" method="post">
    <input type="date" id="dateOfRotation" name="dateOfRotation" required />
    <input type="submit" value="Rotate" />
</form>
{% else %}
<p><i>No Workers</i></p>
{% endif %}
<a href="{{ url_for('addWorker') }}">Add Worker</a>

{% endblock %}
